    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Alan Dávila</h2>
                <p>Developer fiancè of code, events, channels, etc. I love coding in Java/Scala</p>                
            </div>
        </div>
    </section>